.App {
  text-align: center;
}
body{
  background-color:khaki;
  height:100px;
}
.header{
  background-color:red;
  font-size:40px;
  font-style:italic;
}
p{
  background-color:yellow;
}
button{
  background-color: blueviolet;
  border:1px solid gray;
  padding:5px 10px;
}